.no-padding{
    padding: 0px !important;
}
.side-bar{
    margin-top: 10px;
    padding: 10px 10px 300px 40px;
    overflow-y: scroll;
    height: 100%
}

.side-bar-container{
    width:300px;
    margin-bottom: 200px;
    position: fixed;
    background: #ededed;
    height: 100%
}

.content-area{
    padding-left: 300px;
    width: 100%;
    overflow: auto;
    float:right;
}

.content-area-heading   {
    background: rgb(92, 184, 92);
    margin: 0px;
    padding: 20px;
    color: white;
}


.new_button {
    padding: 10px;
    margin-left:10px;
}






