<!--Main container-->
<div class="wrapper container-fluid no-padding">
  <!--Side bar-->
  <div class="side-bar-container">
    <div class="well" >
      <p style="font-size: 30px; padding: 10px !important;">Product Listing Application</p>
      <%= link_to 'Add a new Product' , new_product_path , {class:'btn btn-success new_button', remote:true}%>
    </div>
    <div class="side-bar">
      <ul class="media-list" id = "productsList">

        <%= render 'products_list' , {products: @products} %>

      </ul>
    </div>

  </div><!--End of side bar-->
  <div class="content-area"  >

  </div><!--End of contents-->
</div><!--End of main container-->


<!--The Modal-->

<div class="modal fade" id="productModal">
  <div class="modal-dialog">
    <div class="modal-content">

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

